.resumo-jornada-enunciados {
  overflow: hidden;
  height: 400px;
}

.resumo-jornada-enunciado:nth-child(odd) > div {
  background-color: #eee;
}


.font-weight-bold{
  font-weight: bold;
}

.bloco-visivel{
  transition: all 1s;
  opacity: 100;
  height: 100px;
}

.bloco-oculto{
  transition: opacity 0.5s, height 1s!important;
  height: 0px!important;
  opacity: 0!important;
}

.resumo-jornada-passo{
  transition: opacity 2s;
}
.votacao-bem-vindo {
  font-size: 30px !important;
}

.votacao-titulo {
 font-size: 12px !important;
}

.votacao-icone {
  width: 30px;
  margin-right: 10px
}

.votacao-comissao {
  font-size: 15px;
}

.votacao-texto {
  font-size: 15px;
}

.votacao-justificativa {
  font-size: 15px;
  text-align: justify;
  margin: 10px;
  text-indent: 50px;
  line-height: 1.75;
  padding-bottom: 35px;
}

.votacao-grafico {
  position: absolute;
  bottom: 32px;
  transition: all 1s; 
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction:column;
  align-items: center
}

.visivel {
  transition: all 1s;
  transform: scale(1);
  opacity: 1;
}

.oculto {
  transition: all 1s;
  transform: scale(0.75);
  opacity: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .votacao-bem-vindo {
    font-size: 60px !important;
  }

  .votacao-icone {
    width: 50px;
    margin-right: 20px,
  }

  .votacao-titulo {
    font-size: 28px !important;
  }
    
  .votacao-comissao {
    font-size: 20px;
  }

  .votacao-texto {
    font-size: 20px;
  }

  .votacao-justificativa {
    font-size: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }